/* 个人中心中间的框 */
#personal_con{
    margin:0 auto;
    width:1200px;
    height:600px;
}

/* 左栏 */
#personal_left{
    padding-top:15px;
    float:left;
    margin-bottom:10px;
    width:240px;
    height:100%;
    background-color:#CB152C;
}

/* 左栏下的用户信息 */
.personal_left_photo{
    float:left;
    width:100%;
    height:170px;
    /* border:1px solid blue; */
}

/* 左栏下的用户头像 */
.personal_left_photo > div:first-of-type{
    float:left;
    width:100%;
    height:160px;
    text-align:center;
}

/* 用户头像 */
.personal_left_photo > div:first-of-type > img{
    padding:3px;
    width:125px;
    border-radius:75px;
    background-color:white;
    box-shadow: 0px 5px 10px #3B3B3B;
}

/* 用户名 */
.personal_left_photo > div:first-of-type > span{
    float:left;
    text-align:center;
    width:100%;
    margin-top:10px;
    color:white;
    font-size:21px;
}

/* 左栏下的链接 */
.personal_left_photo > div:nth-of-type(2){
    float:left;
    margin-top:5px;
    width:100%;
    /* border:1px solid green; */
}

.left_xk{
    float:left;
    width:100%;
    margin-bottom:15px;
}

.left_xk > span{
    float:left;
    padding-left:20px;
    width:100%;
    height:30px;
    line-height:30px;
    font-size:17px;
    font-weight:bold;
    color:#003366;
}

.left_xk > a{
    float:left;
    width:100%;
    height:30px;
    line-height:30px;
    padding-left:30px;
    color:white;
}

.left_xk > a:hover{
    background-color:#B90815;
}

/* 右栏 */
#personal_right{
    float:left;
    padding:10px;
    margin-bottom:10px;
    width:960px;
    height:100%;
    border:1px solid #ccc;
    border-left:0px;
}
