/*分类页*/
#cate_con{
	width:1200px;
	margin:0 auto;
}

/*分类页左栏*/
#cate_left{
	float:left;
	width:19%;
}

#cate_left_cate{
	float:left;
	width:100%;
	padding-left:10px;
	background-color:#FCF7F7;
	box-sizing:border-box;
}

#cate_left_cate > span{
	float:left;
	width:100%;
	height:40px;
}

#cate_left_cate > span > em{
	float:left;
	width:4px;
	height:14px;
	margin-top:13px;
	border-radius:2px;
	background-color:#FFCE00;
}
#cate_left_cate > span > span{
	float:left;
	height:100%;
	line-height:40px;
	margin-left:5px;
	font-size:15px;
}

#cate_left_cate > div{
	float:left;
	width:100%;
	height:40px;
}

#cate_left_cate > div > span{
	float:left;
	width:18px;
	height:18px;
	line-height:18px;
	font-size:15px;
	margin-top:11px;
	text-align:center;
	background-color:#FFCE00;
}

.hui{
	background-color:#E8E9E9 !important;
}

#cate_left_cate > div > div{
	float:left;
	height:100%;
	line-height:40px;
	margin-left:10px;
}

#cate_left_cate > div > div > a{
	font-size:14px;
}

#cate_left_cate > div > div > a:hover{
	color:red;
}

/*分类页右栏*/
#cate_right{
	float:right;
	width:80%;
}

/*分类页导航条*/
.cate_dh{
	height:40px;
	line-height:40px;
	background-color:#FDFDFD;
	border:1px solid #ccc;
	border-top:2px solid #DE031C;
	padding-left:10px;
	background-image:url('/home/images/h1.png');
}

.cate_dh > a{
	margin-left:10px;
	margin-right:10px;
	font-weight:bold;
	font-size:20px;
}

.cate_dh > span{
	font-size:20px;
	color:#4B4B4B;
}

/*分类页右栏文章内容*/
#cate_right_con{
	float:left;
	width:100%;
	margin-bottom:10px;
}

#cate_right_con > ul{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

#cate_right_con > ul > li{
	float:left;
	width:49.2%;
	margin-top:5px;
	list-style-type:none;
	border-bottom:1px solid #DDDDDD;
}

.two{
	margin-left:15px;
}

#cate_right_con > ul > li > span{
	float:left;
	width:100%;
	height:40px;
	line-height:40px;
	border-bottom:1px dashed #ccc;
}

#cate_right_con > ul > li > span > a{
	font-size:18px;
	font-weight:bold;
}

#cate_right_con > ul > li > label{
	float:left;
	width:100%;
	height:30px;
}

#cate_right_con > ul > li > label > div{
	float:left;
	width:16px;
	height:17px;
	margin-top:6px;
}

#cate_right_con > ul > li > label > div:first-child{
	background-image:url('/home/images/tubiao.png');
	background-position: 416px -101px;
}

#cate_right_con > ul > li > label > div:nth-of-type(2){
	margin-left:50px;
	background-image:url('/home/images/tubiao2.png');
	background-position: -419px -300px;
}

#cate_right_con > ul > li > label > div:nth-of-type(3){
	margin-left:50px;
	background-image:url('/home/images/tubiao.png');
	background-position: 416px -32px;
}

#cate_right_con > ul > li > label > span{
	float:left;
	font-size:13px;
	height:30px;
	line-height:30px;
	color:#989898;
	margin-left:5px;
}