/*详情页大框*/
#detail_con{
	width:1200px;
	margin:0 auto;
}

li{
	list-style-type:none;
}

/*详情页左栏*/
#detail_left{
	float:left;
	width:73%;
}

/*详情页导航条*/
.detail_dh{
	height:40px;
	line-height:40px;
	background-color:#FDFDFD;
	border:1px solid #ccc;
	border-top:2px solid #DE031C;
	padding-left:10px;
	background-image:url('/home/images/h1.png');
}

.detail_dh > a{
	margin-left:10px;
	margin-right:10px;
	font-weight:bold;
	font-size:22px;
}

.detail_dh > span{
	font-size:22px;
	color:#4B4B4B;
}

/*详情页标题*/
#detail_left > h1{
	height:62px;
	margin-top:0px;
	line-height:62px;
	text-align:center;
	color:#AE0000;
	letter-spacing:5px;
	font-weight:normal;
	font-size:22px;
	border-bottom:1px dashed #ccc;
	overflow:hidden;
}

.detail_detail{
	margin-top:-10px;
	height:40px;
	border-bottom:1px dashed #ccc;
}

/*详情页文章内容*/
.detail_detail > div:first-child{
	margin-left:240px;
	background-image:url('/home/images/tubiao.png');
	background-position: 416px -32px;
}

.detail_detail > div:nth-of-type(2){
	margin-left:20px;
	background-image:url('/home/images/tubiao.png');
	background-position: 416px -101px;
}

.detail_detail > div:nth-of-type(3){
	margin-left:20px;
	background-image:url('/home/images/tubiao2.png');
	background-position: -419px -300px;
}

.detail_detail > div{
	float:left;
	width:16px;
	height:17px;
	margin-top:11px;
}

.detail_detail > span{
	float:left;
	font-size:13px;
	height:100%;
	line-height:40px;
	color:#989898;
	margin-left:10px;
}

.detail_content{
	padding-top:10px;
	padding-left:25px;
}

#author{
	float:right;
	margin-top:0px;
	font-size:14px;
	width:75px;
	height:100%;
	line-height:40px;
}

#author > a{
	color:#0098D2;
}

#author > a:hover{
	color:#006B93;
	text-decoration:underline;
}

/*对文章进行评论*/
#articleTitle{
	height:30px;
	line-height:30px;
	text-align:center;
	border:1px solid #CFE1EA;
	border-radius:3px 3px 0px 0px;
}

.plcontent{
	margin-top:10px;
	margin-bottom:5px;
	padding-left:20px;
}

.userinfo{
	height:30px;
	padding-left:10px;
	line-height:30px;
	border:1px solid #CFE1EA;
	border-radius:5px 5px 0px 0px;
}
.usercontent{
	padding-top:10px;
	padding-left:10px;
	border:1px solid #CFE1EA;
	border-radius:0px 0px 5px 5px;
}

/*详情页右栏*/
#detail_right{
	float:left;
	margin-left:20px;
	width:25%;
}

.xgwz > div{
	float:left;
	width:100%;
}

.xgwz > div > h3{
	float:left;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	font-weight:normal;
}

.xgwz > div > span{
	float:left;
	margin-top:33px;
	display:block;
	width:90px;
	border:1px solid red;
}

.xgwz > ul{
	float:left;
	margin:0;
	padding:0;
	width:100%;
	font-size:15px;
	background-color:#F3F3F3;
}
.xgwz > ul > a{
	float:left;
	width:100%;
	height:30px;
	padding-left:10px;
	box-sizing: border-box;
}

.xgwz > ul > a > li{
	padding-left:25px;
	height:100%;
	line-height:30px;
	background-image:url('/home/images/tubiao.png');
	background-repeat:no-repeat;
	background-position:-384px -182px;
}